<section class="flex flex-col items-center gap-8 py-12" id="design">
    <h2 class="text-2xl font-bold text-center">Diseño</h2>
    <p class="w-3/5">
        Determinamos que este problema afecta a una cantidad considerable de actores,  tanto al usuario con el que nos estamos relacionando como a nosotros, quienes buscamos solucionar el
        problema.
        <br> 
        <br> 
        Los actores de intenes corresponden a niños, jóvenes y adultos con discapacidades físicas o
        neuromotoras, padres, madres, familiares y cuidadores de los
        beneficiarios, profesionales de la salud, terapeutas, personas que
        dedican su tiempo y esfuerzo de manera voluntaria para apoyar las
        actividades y nosotros los creadores. 
        <br> 
        <br> 
        Nuestra propuesta de valor aborda la necesidad de mejorar la calidad de vida y la inclusión social
        de las personas con discapacidades. Esta se dirigirá principalmente a los
        beneficiarios directos (personas con discapacidades) y a sus
        familias/cuidadores, ofreciendo soluciones y servicios que mejoren su
        bienestar y autonomía. 
        Mediante nuestro producto "bowl antiderrames", el cual permitirá a
        personas con dificultades motrices consumir alimento de manera más
        eficaz e independiente, mejorando ligeramente su calidad de vida al momento de alimentarse.
        <br>
        <br>
        Para el nivel de madurez como equipo, optamos por llegar al nivel TLR-5 debido a que no llegaremos a la comercialización y bastará con que el entorno lo apruebe.
    </p>
</section>
