<div class="flex flex-col gap-8 mx-[5%]" id="strategy">
    <h2 class="text-3xl font-bold text-center">Estrategias</h2>
    <section class="flex flex-col items-center justify-start gap-6 px-6 py-10 border rounded-lg border-slate-300 bg-slate-50 shadow-md">
        <h1 class="text-xl font-bold text-center">Estrategias Corporativas</h1>
        <p class="text-slate-600">
            Diversificación no relacionada de nivel medio-bajo. Buscando optimizar los sistemas
            ya existentes con el fin de obtener una mejor presencia en los medios, la gestión
            financiera y la infraestructura tecnológica.
        </p>
    </section>
    <section class="flex flex-col items-center justify-start gap-6 px-6 py-10 border rounded-lg border-slate-300 bg-slate-50 shadow-md">
        <h1 class="text-xl font-bold text-center">Estrategias de Negocios</h1>
        <p class="text-slate-600">
            Consideraremos una estrategia líder en costos, buscando una poderosa mezcla de calidad,
            precio y facilidad de adquisición de productos y servicios, haciendo un análisis interno
            para optimizar las acciones internas de la empresa.
        </p>
    </section>
    <section class="flex flex-col items-center justify-start gap-6 px-6 py-10 border rounded-lg border-slate-300 bg-slate-50 shadow-md">
        <h1 class="text-xl font-bold text-center">Estrategias Funcionales</h1>
        <p class="text-slate-600">
            La estrategia funcional de marketing ayudaría mejorar la presencia omnicanal de la empresa
            y en cuanto para a mejorar la gestión financiera y la infraestructura tecnológica podemos
            utilizar las estrategias (finanzas e inversiones) y operaciones.
        </p>
    </section>
    <section class="flex flex-col items-center justify-start gap-6 px-6 py-10 border rounded-lg border-slate-300 bg-slate-50 shadow-md" id="cadena">
        <h1 class="text-xl font-bold text-center">Nuestra Cadena de Valor</h1>
        <img class="w-full" src="/blog-nospillbowl/cadena-de-valor.png" alt="cadena de valor" />
    </section>
</div>