<footer class="flex flex-col justify-center items-center mt-10 py-16">
    <p class="text-slate-600 text-sm">2024 No Spill Bowl</p>
    <p class="text-slate-600 text-sm">Creado por Grupo Ripley - Fundamentos de Administración - Utalca</p>
</footer>