<footer class="flex flex-col justify-center items-center px-2 mt-10 py-16">
    <p class="text-slate-600 text-sm text-center">2024 No Spill Bowl</p>
    <p class="text-slate-600 text-sm text-center">Creado por Grupo Ripley - Fundamentos de Administración - Utalca</p>
</footer>