<div class="flex flex-col gap-8 mx-20" id="about">
    <h2 class="text-2xl font-bold text-center">Nosotros</h2>
    <section class="flex flex-col items-center gap-6">
        <h1 class="text-xl font-bold text-center">Nuestra Estructura Organizacional</h1>
        <ul class="flex gap-2 flex-wrap justify-center">
            <li><span class="font-semibold">Nicolás López</span> Presidente de Directorio</li>
            <li><span class="font-semibold">Nicolás Cuadra</span> Gerente General</li>
            <li><span class="font-semibold">Cristian Fuentes</span> Gerente General de Asuntos Corporativos</li>
            <li><span class="font-semibold">Javier Gamboa</span> Gerente General de Finanzas Corporativas</li>
            <li><span class="font-semibold">Rafael González</span> Gerente General de Banco Ripley Chile</li>
            <li><span class="font-semibold">Fernando Urzúa</span> Gerente de E-commerce</li>
        </ul>
    </section>
    <section class="flex flex-col items-center gap-6">
        <h1 class="text-xl font-bold text-center">Nuestra Visión</h1>
        <p>
            Ser un ecosistema relevante en los países donde operamos a través de un modelo de negocio sostenible
            que genere la preferencia de nuestros clientes, impulse a nuestros socios estratégicos, facilite el
            desarrollo de nuestros colaboradores y maximice el retorno del capital invertido, manteniendo nuestro
            compromiso de responsabilidad con la sociedad.
        </p>
    </section>
    <section class="flex flex-col items-center gap-6">
        <h1 class="text-xl font-bold text-center">Nuestra Misión</h1>
        <p>
            Trabajamos para cumplir con los sueños de las personas y mejorar su calidad de vida a través de nuestros productos y servicios.
        </p>
    </section>
    <section class="flex flex-col items-center gap-6">
        <h1 class="text-xl font-bold text-center">Nuestros Valores</h1>
        <ul class="flex gap-2 flex-wrap justify-center">
            <li><span class="font-semibold">Innovación</span></li>
            <li><span class="font-semibold">Responsabilidad Social</span></li>
            <li><span class="font-semibold">Solidaridad</span></li>
        </ul>
    </section>
</div>

<style>
    li{
        border:1px solid black;
        padding: .5rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        text-align: center;
        width: 300px;
        gap: .3rem;
        border-radius: 0.25rem;
    }
</style>