<section class="flex flex-col items-center gap-8" id="about">
    <h2 class="text-2xl font-bold text-center">Nosotros</h2>
    <ul class="flex gap-2 flex-wrap w-4/5  justify-center">
        <li><span class="font-bold">Nicolás López</span> Presidente de directorio</li>
        <li><span class="font-bold">Nicolás Cuadra</span> Gerente General</li>
        <li><span class="font-bold">Cristian Fuentes</span> Gerente general de asuntos corporativos</li>
        <li><span class="font-bold">Javier Gamboa</span> Gerente general de finanzas corporativas</li>
        <li><span class="font-bold">Rafael Gonzalez</span> Si</li>
        <li><span class="font-bold">Fernando Urzua</span> Gerente de e-commerce</li>
    </ul>
</section>

<style>
    li{
        border:1px solid black;
        padding: .5rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        text-align: center;
        width: 300px;
        gap: .3rem;
    }
</style>